<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/css/**" security="none"/>
    <http pattern="/javascript/**" security="none" />
    

    <http auto-config="true" use-expressions="true" disable-url-rewriting="false" >
        <intercept-url access="permitAll" pattern="/search/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/announcements/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/calendar/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/FileDownload/**"></intercept-url> 
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/districts/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/documents/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/faq/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/forum/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/surveys/**"></intercept-url>
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/reports/**"></intercept-url> 
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/profile/**"></intercept-url> 
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/home/**"></intercept-url> 
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/import-export/**"></intercept-url> 
        <intercept-url access="hasAnyRole('ROLE_USER','ROLE_PROGRAMADMIN')" pattern="/users/**"></intercept-url> 
        <intercept-url access="permitAll" pattern="/login/*"></intercept-url>
        <intercept-url access="permitAll" pattern="/logout"></intercept-url>
        <logout invalidate-session="true" delete-cookies="JSESSIONID" logout-success-url="/login" logout-url="/logout"></logout>
        <form-login authentication-success-handler-ref="authenticationSuccessRedirecthandler" 
        authentication-failure-url="/loginfailed" 
        authentication-details-source-ref="customWebAuthenticationDetails"
        login-page="/login"></form-login>
        <session-management invalid-session-url="/login"></session-management>
        <session-management><concurrency-control expired-url="/login?expired" /></session-management>
        <headers>
            <cache-control />
            <content-type-options />
            <hsts />
            <frame-options policy="SAMEORIGIN" />
            <xss-protection />
        </headers>
        <!--<csrf />-->
    </http>
    
    <authentication-manager>
        <authentication-provider ref="customAuthenticationProvider">
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean class="com.rr.missouri.ui.security.CustomWebAuthenticationDetails" id="customWebAuthenticationDetails"></beans:bean>
    <beans:bean class="com.rr.missouri.ui.security.CustomAuthenticationProvider" id="customAuthenticationProvider"></beans:bean>
    <beans:bean class="com.rr.missouri.ui.security.CustomAuthenticationHandler" id="authenticationSuccessRedirecthandler"></beans:bean>
     
   
</beans:beans>